$button-med: rem-calc(5);

.Visitor,
.choice {
    color: black;
}

.orbit-wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.headshot {
    margin: 1em 1em 2em 0;
    float: left;
    max-width: 150px;
}

.name-block {
    margin-top: 2em;
    aside {
        font-size: 70%;
    }
}

.proj {
    margin-bottom: 20px;
}

#bayouViewport {
  margin: 0 auto;
  height: 600px;
  overflow: auto;
  canvas {
    width: 100%;
    height: 600px;
  }
}

aside.right {
    margin-top: 0.7em;
}

// start footer
html {
    height:auto;
    position: relative;
    min-height: 100%;
}
body {
    height: auto;
    margin: 0 0 45px;
    position: static;
}
footer {
    position: absolute !important;
    left: 0;
    bottom: 0;
    height: 45px;
    width: 100%;
    background: #333333;
    color: #ffffff;
    div {
        font-size: 70%;
        margin: 1em;
    }
}
// end footer

article {
    header {
        text-align: center;
    }
}

h2 {
    color: #5cb5d0;
}

ul {
    margin-left: 10%;
}

@media only screen and (max-width: 40em) {
    .headshot {
        margin: 1em auto;
        float: none;
    }
    .name-block {
        margin-top: 0;
        text-align: center;
    }
}