extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    header
        h2: a(href='http://www.abc.net.au/tv/timetravellers', target='_blank') Australia - The Time Traveller's Guide
        p Essential Media / ABC1 - <a href='http://www.abc.net.au/tv/timetravellers' target='_blank'>Launch Project</a>
    div.orbit-wrapper
        ul(data-orbit)
            li
                img(src='http://assets.vanbone.com/images/attg_2.jpg')
                div.orbit-caption Panoramic landscapes and timeline navigation
            li
                img(src='http://assets.vanbone.com/images/attg_1.jpg')
                div.orbit-caption Video excerpts
            li
                img(src='http://assets.vanbone.com/images/attg_3.jpg')
                div.orbit-caption Text information
            li
                img(src='http://assets.vanbone.com/images/attg_4.jpg')
                div.orbit-caption Creature gallery

    h3 Client Brief - Problem
    p During the research for a documentary series Essential Media gathered a large amount of information that couldn't be included in the TV episodes. Hoodlum was commissioned to build and interactive website to complement the series and make this extra information available.
    h3 Action Taken
    p The site was initially planned as a series of panoramic landscapes with clickable hotspots to view the information. After starting the project I realised it wouldn’t be possible to display all the information they wanted with the suggested system. Through of series a rapid prototype developments I created the timeline navigation to place the information along, while still keeping the panoramic landscapes as per the original brief (minus awkward hotspots).
    h3 Project Result
    p The clients were very happy with the final outcome of this project and, despite the show not currently airing, it still receives traffic on a daily basis. I am particularly proud of being able to find a logical and usable organisation of the data while maintaining the aesthetic goals of the project.
    p: a(href='/projects') Back to all projects
