extends layout
block headContent
  script(src='/bower_components/seedrandom/seedrandom.min.js')
  script(src='/bower_components/threejs/build/three.min.js')
  script(src='/bower_components/threex.keyboardstate/threex.keyboardstate.js')
  script(src='/bower_components/stats.js/build/stats.min.js')
  script(src='/js/bayou.min.js')
    script.
      $( document ).ready(function() {
        try {
          window.app = new Main(document.getElementById('gameViewport'));
          window.app.animate();
        } catch (error) {
          console.log("Creating 3d scene failed.", error);
        }
      });

block bodyContent

    div.panel.
      This page is an experiment in compatibility and capability of WebGL and
      shaders using three.js<br/>
      This is a port of a game I've made previously in Flash and for iOS.<br/><br/>
      The terrain is procedurally generated from trigonometric functions and
      drawn using glsl vertex and fragment shaders.<br/><br/>
      Left and right arrows control the boat. Refresh to restart.

    header
      h2 Bayou Blast
    div#bayouViewport
      p This page requires Javascript to function.
    div#timer 00

    p: a(href='/projects') Back to all projects

    script.
      try {
        window.app = new Main(document.getElementById('bayouViewport'), document.getElementById('timer'));
        window.app.animate(0);
      } catch (error) {
        console.log("Creating 3d scene failed.", error);
      }