extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    header
        h2: a(href='http://www.abc.net.au/abc3/danceacademy/secondyear/', target='_blank') Dance Academy Online - 2nd Year
        p Werner Film Productions / ZDF Enterprises / ABC3 - <a href='http://www.abc.net.au/abc3/danceacademy/secondyear/' target='_blank'>Launch Project</a>
    div.orbit-wrapper
        ul(data-orbit)
            li
                img(src='http://assets.vanbone.com/images/DA2_3.jpg')
                div.orbit-caption Seamless video integration
            li
                img(src='http://assets.vanbone.com/images/DA2_4.jpg')
                div.orbit-caption New look navigation
            li
                img(src='http://assets.vanbone.com/images/DA2_1.jpg')
                div.orbit-caption Room customisation
            li
                img(src='http://assets.vanbone.com/images/DA2_2.jpg')
                div.orbit-caption User profile customisation

    h3 Client Brief - Problem
    p After the success of the online component of the 1st season Dance Academy (and the show in general), our goal was to build on that success and bring the experience up to the current level of technology.
    h3 Action Taken
    p Due to the significant advances in video technology and bandwidth the had occurred since the 1st season, one of the main updates for season 2 was to incorporate more video into the site. I worked closely with the video edit team to create ‘seamless’ transitions between the room panoramas and character videos. We also added several customisation components to personalise the users experience.
    p As an update to the existing technology, the scope of this project was heavily driven by the design and development teams to maximise reuse. I performed the Flash development myself (as I had worked on 1st season), while also overseeing the Flash team on another project.
    h3 Project Result
    p The project improved the success of the 1st season, with 110,000 unique visitors during the airing of the first season. Average visit duration dropped slightly to over 13 minutes due to a streamlined user journey, as the pages / visit actually increased. Continuing the awards success, the project also won the 2013 KidScreen Award for Best Television Companion Site.
    p: a(href='/projects') Back to all projects
