extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    header
        h2: a(href='http://www.abc.net.au/abc3/danceacademy/firstyear/', target='_blank') Dance Academy Online
        p Werner Film Productions / ZDF Enterprises / ABC3 - <a href='http://www.abc.net.au/abc3/danceacademy/firstyear/' target='_blank'>Launch Project</a>
    div.orbit-wrapper
        ul(data-orbit)
            li
                img(src='http://assets.vanbone.com/images/DA_1.jpg')
                div.orbit-caption Interactive panoramas with item hotspots
            li
                img(src='http://assets.vanbone.com/images/DA_2.jpg')
                div.orbit-caption 'Email' application on a characters laptop
            li
                img(src='http://assets.vanbone.com/images/DA_3.jpg')
                div.orbit-caption Reading a characters text messages
            li
                div.flex-video.widescreen.vimeo
                    video.video-js.vjs-default-skin(id='video1', controls, preload='auto', width='800', height='450', poster='http://assets.vanbone.com/images/DA_poster.jpg')
                        source(src='http://assets.vanbone.com/videos/DanceAcademy_SBS.mp4', type='video/mp4')
                        source(src='http://assets.vanbone.com/videos/DanceAcademy_SBS.webm', type='video/webm')
                        source(src='http://assets.vanbone.com/videos/DanceAcademy_SBS.ogv', type='video/ogg')
                        source(src='http://assets.vanbone.com/videos/DanceAcademy_SBS.f4v', type='video/f4v')
    h3 Client Brief - Problem
    p Dance Academy was a TV show following the adventures of a group of students studying at a prestigious dance school. We were charged with creating an online experience to drive audience engagement while differentiating Dance Academy from other properties on the market.
    h3 Action Taken
    p We choose to use interactive environments as they provided a fun and engaging way for the younger demographics to consume our content. Panoramas of each set location were populated with various objects from the characters' lives, from laptops and phones to gym bags. By exploring these items fans could read emails, listen to voicemails, see bonus footage and more ... all extending the ongoing story lines of the show.
    p I was involved in the initial conception and development of the project, particularly for the explorable panorama sections. I also lead the Flash team in the site development, working with design team and PHP backend developers.
    h3 Project Result
    p The project was a great success, with 140,000 unique visitors during the airing of the first season and an average visit duration over 16 minutes, and some fans engaged for hours. The project won the 2011 KidScreen Award for Best Television Companion Site.
    p Due to the success we secured the development of the online components of the second and third seasons.
    p: a(href='/projects') Back to all projects
