extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    header
        h2 Lost - Dharma Wants You
        p ABC Studios
    div.orbit-wrapper
        ul(data-orbit)
            li
                div.flex-video.widescreen.vimeo
                    video.video-js.vjs-default-skin(id='video1', controls, preload='auto', width='800', height='450', poster='http://assets.vanbone.com/images/DWY_4.jpg')
                        source(src='http://assets.vanbone.com/videos/DWY_Promo.mp4', type='video/mp4')
                        source(src='http://assets.vanbone.com/videos/DWY_Promo.webm', type='video/webm')
                        source(src='http://assets.vanbone.com/videos/DWY_Promo.ogv', type='video/ogg')
                        source(src='http://assets.vanbone.com/videos/DWY_Promo.flv', type='video/flv')
            li
                img(src='http://assets.vanbone.com/images/DWY_4.jpg')
                div.orbit-caption Home screen
            li
                img(src='http://assets.vanbone.com/images/DWY_3.jpg')
                div.orbit-caption 3D transition
            li
                img(src='http://assets.vanbone.com/images/DWY_1.jpg')
                div.orbit-caption A test instructions screen

    h3 Client Brief - Problem
    p Building on the success of Find815, ABC (US) engaged Hoodlum once again, to create an interactive experience to run during the hiatus of LOST and increase fan anticipation for Season 5.
    h3 Action Taken
    p Through the previous 4 seasons of Lost, it’s fans had established themselves as a group that enjoyed the puzzles and challenges of understanding the mysteries of the show. For Dharma Wants You we chose to leverage this by offering the user the opportunity to volunteer for the fictional Dharma Initiative. To complete their application users were required to undertake a series of puzzles, games, and tests.
    p There were many advancements in 3D Flash technology at the time, so we decided to build a sleek 3D interface for the project. I was largely responsible for creating the fragmented bagua design and 3D introduction and transition sequences which heavily influenced the site design.
    h3 Project Result
    p Dharma Wants You provoked an incredible response from the show fans, with users analyzing every inch of the site for clues and sharing their findings on sites like <a href='http://lostpedia.wikia.com/wiki/Dharma_Wants_You' target='_blank'>LostPedia</a>. The project won the 2009 Primetime Creative Arts Emmy for Outstanding Achievement in Interactive Media Programming: Fiction and also won the 2009 ATOM Award for Best Multimodal Production.
    p: a(href='/projects') Back to all projects
