extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    h2 Lost - Find815
    p ABC Studios
    div.orbit-wrapper
        ul(data-orbit)
            li
                div.flex-video.widescreen.vimeo
                    video.video-js.vjs-default-skin(id='video1', controls, preload='auto', width='800', height='450', poster='http://assets.vanbone.com/images/find815_4.jpg')
                        source(src='http://assets.vanbone.com/videos/Find815_Promo.mp4', type='video/mp4')
                        source(src='http://assets.vanbone.com/videos/Find815_Promo.webm', type='video/webm')
                        source(src='http://assets.vanbone.com/videos/Find815_Promo.ogv', type='video/ogg')
                        source(src='http://assets.vanbone.com/videos/Find815_Promo.flv', type='video/flv')
            li
                img(src='http://assets.vanbone.com/images/find815_3.jpg')
                div.orbit-caption Lost character profiles
            li
                img(src='http://assets.vanbone.com/images/find815_2.jpg')
                div.orbit-caption Laptop with email and website clues
            li
                img(src='http://assets.vanbone.com/images/find815_1.jpg')
                div.orbit-caption Story driven puzzzles

    h3 Client Brief - Problem
    p US network ABC needed to keep avid fans of Lost engaged while the show was off air and grow audience anticipation in the lead up to season 4.
    h3 Action Taken
    p Through the previous 3 seasons of Lost, it’s fans had established themselves as a group that enjoyed the puzzles and challenges of understanding the mysteries of the show. We chose to leverage this by creating a rich story that required the user to solve puzzles to move the story forward.
    p Working with the lost audience required incredible attention to detail, as they thoroughly inspected the smallest details looking for clues, that even the tiniest mistakes would be discovered. We also had to ensure the utmost level of security as the fans would try any method (even illegal ones) to try find out more information.
    h3 Project Result
    p Find815 provoked an incredible response from the show fans, with users analyzing every inch of the game for clues and sharing their findings. In the 2 month window from it's launch it attracted over 700,000 unique visits. The project was a finalist for a 2008 Primetime Creative Arts Emmy and won the 2009 Global Media Award for Outstanding Website / Entertainment.
    p Based on the success of Find815, we also secured the next season's interactive element - Dharma Wants You.
    p: a(href='/projects') Back to all projects
