extends layout
block headContent

block bodyContent
    div.headshot
        img(src='http://assets.vanbone.com/profile_small.png')
    div.name-block
        h2 Jareth van Bone
        h3 Not just a developer...

    hr
    h3.left Projects
    aside.right
        a(href='/projects') All Projects
    div.clearfix
    div.row
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/slide')
                img(src='http://assets.vanbone.com/images/slide_proj.jpg', alt='SLiDE')
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/find815')
                img(src='http://assets.vanbone.com/images/find815_proj.jpg', alt='Lost - Find 815')
        div.small-12.hide-for-medium-only.large-4.columns
            a.th.proj(href='/danceacademy')
                img(src='http://assets.vanbone.com/images/DA_proj.jpg', alt='Dance Academy')

    h3 About Me
    p I'm a software developer with degrees in software engineering and graphic design. I have spent the majority of my career developing in Actionscript, and more recently JavaScript. I am also comfortable stepping outside the developer role and at various times I have performed:
    ul
        li project management
        li creative direction
        li technical consulting
        li design
        li animation
        li systems administration
        li experience design
        li client management
        li team lead
    p I'm never afraid to get my hands dirty or try something I've never done before.
    p I would describe myself as creatively logical. I love trying to find the best way to approach a problem or optimise a process, but I know that doesn’t mean everything has to be done the same boring way. Most people would describe me as helpful - I’m always willing to do that little bit extra if it makes someone else's job easier.