block variables
doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(name="google-site-verification", content="5nV9DL1IFXtZqLMObTBSbEmAm7uQZg6wG3tEnSGXFG4")

        link(rel='shortcut icon', href='/favicon.ico')
        link(rel='apple-touch-icon', href='/apple-touch-icon.png')


        title= title

        link(rel="stylesheet", href="bower_components/foundation/css/normalize.css")
        link(rel="stylesheet", href="bower_components/foundation/css/foundation.css")
        link(rel='stylesheet', href='/css/app.css')

        script(src='bower_components/modernizr/modernizr.js')
        script(src="bower_components/jquery/dist/jquery.js")
        script(src="bower_components/foundation/js/foundation.min.js")

        block headContent

        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-43450072-1', 'vanbone.com');
            ga('send', 'pageview');

    body
        header
            nav.top-bar(data-topbar)
                ul.title-area
                    li.name
                        h1: a(href='/') Jareth van Bone

                    li.toggle-topbar.menu-icon
                        a(href='#') Menu
                section.top-bar-section
                    ul.right
                        li.has-dropdown
                            a(href='/projects') Projects
                            ul.dropdown
                                li
                                    a(href='/portefeuillo') Portefeuillo
                                li
                                    a(href='/bayou') Bayou Blast
                                li
                                    a(href='/timelapse') Timelapse Animations
                                li
                                    a(href='/slide') SLiDE
                                li
                                    a(href='/find815') Lost - Find815
                                li
                                    a(href='/dharmawantsyou') Lost - Dharma Wants You
                                li
                                    a(href='/danceacademy') Dance Academy
                                li
                                    a(href='/danceacademy2') Dance Academy 2nd Year
                                li
                                    a(href='/attg') Australia: The Time Traveller's Guide
                        li
                            a(href='http://assets.vanbone.com/JarethvanBone_CV_2015.pdf') CV
                        li
                            a(href='http://au.linkedin.com/in/jareth/') Linkedin Profile
                        li.has-dropdown
                            a(href='#') Site Source
                            ul.dropdown
                                li
                                    a(href='https://bitbucket.org/jareth/jarethvanbone') Bitbucket
                                li
                                    a(href='https://c9.io/jareth/codefolio') Cloud9
        article
            div.row
                div.small-12.columns
                    block bodyContent
        footer
            div © 2015 Jareth van Bone. All project assets remain property of the original IP owner.
        script.
            $(document).foundation();