extends layout
block headContent
    script(src="bower_components/phaser/phaser.min.js")
    script(src="js/train.js")
    script(src="js/game.js")
    script(src="js/dialog.js")
    script(src="js/data.js")
    script.
        $( document ).ready(function() {
            var game = new Game(Phaser);
        });

block bodyContent

    div.panel.
        This page is currently under construction while I experiment with making HTML5 games with <a href="http://phaser.io/">Phaser.io</a>.<br/>
        Eventually, this will become an introductory experience and a way for visitors  to get to know me.
    header
        h2 Portefeuillo

    div#gameViewport
    div.alert-box(data-alert)
        div#game-dialog
        // a.close(href='#') &times;
    p: a(href='/projects') Back to all projects