extends layout
block headContent

block bodyContent
    br
    p A small selection of projects I have found interesting or challenging over the years.
    h2 Experiments
    div.row
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/portefeuillo')
                img(src='http://assets.vanbone.com/images/port_proj.jpg', alt='Portefeuillo')
        div.small-12.medium-6.large-4.columns.end
            a.th.proj(href='/bayou')
                img(src='http://assets.vanbone.com/images/bayou_proj.jpg', alt='Bayou Blast')
        div.small-12.medium-6.large-4.columns.end
            a.th.proj(href='/timelapse')
                img(src='http://assets.vanbone.com/images/timelapse_proj.jpg', alt='Timelapse Animations')
    //h2 Projects with Innogames
    //div.row
    //     div.small-12.medium-6.large-4.columns
    //        a.th.proj(href='/grepoapp')
    //            img(src='http://assets.vanbone.com/images/grepo_proj.jpg', alt='SLiDE')
    h2 Projects with Hoodlum
    div.row
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/slide')
                img(src='http://assets.vanbone.com/images/slide_proj.jpg', alt='SLiDE')
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/find815')
                img(src='http://assets.vanbone.com/images/find815_proj.jpg', alt='Lost - Find 815')
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/dharmawantsyou')
                img(src='http://assets.vanbone.com/images/DWY_proj.jpg', alt='Lost - Dharma Wants You')
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/danceacademy')
                img(src='http://assets.vanbone.com/images/DA_proj.jpg', alt='Dance Academy')
        div.small-12.medium-6.large-4.columns
            a.th.proj(href='/danceacademy2')
                img(src='http://assets.vanbone.com/images/DA2_proj.jpg', alt='Dance Academy 2')
        div.small-12.medium-6.large-4.columns.end
            a.th.proj(href='/attg')
                img(src='http://assets.vanbone.com/images/attg_proj.jpg', alt='Australia: The Time Traveller\'s Guide')