extends layout
block headContent
    link(rel='stylesheet', href='//vjs.zencdn.net/4.4/video-js.css')
    script(type='text/javascript', src='//vjs.zencdn.net/4.4/video.js')


block bodyContent
    header
        h2 SLiDE
        p Hoodlum / Foxtel / Playmaker
    div.orbit-wrapper
        ul(data-orbit)
            li
                div.flex-video.widescreen.vimeo
                    video.video-js.vjs-default-skin(id='video1', controls, preload='auto', width='800', height='450', poster='http://assets.vanbone.com/images/slide_4.jpg')
                        source(src='http://assets.vanbone.com/videos/Slide_StepByStep.mp4', type='video/mp4')
                        source(src='http://assets.vanbone.com/videos/Slide_StepByStep.webm', type='video/webm')
                        source(src='http://assets.vanbone.com/videos/Slide_StepByStep.ogv', type='video/ogg')
                        source(src='http://assets.vanbone.com/videos/Slide_StepByStep.f4v', type='video/f4v')
            li
                img(src='http://assets.vanbone.com/images/slide_1.jpg')
                div.orbit-caption Game intro screen
            li
                img(src='http://assets.vanbone.com/images/slide_3.jpg')
                div.orbit-caption Animated graphic novel scene
            li
                img(src='http://assets.vanbone.com/images/slide_2.jpg')
                div.orbit-caption High quality videos
    h3 Client Brief - Problem
    p SLiDE was our chance to put all the things we'd learnt about interactive storytelling together in a full production.
    h3 Action Taken
    p SLiDE was planned as a multiplatform, interactive experience from the outset. Even during the initial writing sessions the digital teams were included, trying to find the content that would work best on other platforms. We ended up with an impressive amount of content, from games and animated graphic novels through to gig reviews and blog posts.
    p In order to display all this content through a Flash front end we put a lot of effort into the maximising the reliability and speed of the experience. I was primarily responsible for site framework that loaded all the content modules, and ensuring any issues with the content didn’t propagate out to affect the performance of the site as a whole.
    h3 Project Result
    p The project was incredibly well received and quickly established an enthusiastic fan base in the teen demographics. It won the 2011 Interactive Media Award for Best in Class - Television, and was nominated for the 2012 Webby Awards in the Television category, going up against the industry giants like Hulu, HBO, and PBS.
    p: a(href='/projects') Back to all projects