extends layout
block headContent
    script(type='text/javascript', src='bower_components/swfobject/swfobject/swfobject.js')
    script(type='text/javascript').
        swfobject.registerObject('timeline', '11', 'expressinstall.swf');

block bodyContent
    div.flex-video
        object(id='timeline', classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000', width='803px', height='567px')
            param(name='movie', value='swfs/bootstrap.swf')
            object(type='application/x-shockwave-flash', data='swfs/bootstrap.swf', width='803px', height='567px')
                param(name='flashvars', value='target=swfs/Jareth.swf&config=./conf/default.xml?v=1&base_path=https://codefolio-c9-jareth.c9.io/&bootstrap_config=./conf/bootstrapConfig.xml?v=1&asset_version=1')
            p there should be a flash movie here