extends layout
block headContent
  script(src='/js/timelapse.js')

block bodyContent

  div.panel.
    An experiment in masking and animation with pure javascript (#[a(href="https://gist.github.com/jareth/cc1617c8912a1b2ba554" target="_blank") source]). 
    Inspired by #[a(href="http://fqwimages.com/about-myself/" target="_blank") Fong Qi Wei]'s series #[a(href="http://fqwimages.com/time-dimension/" target="_blank") Time is a Dimension].

  header
    h2 Timelapse Animations
  canvas(id="myCanvas", width="640", height="480")

  form(name="styleForm")
    h3 Speed
    input(type="range", name="step", min="1", max="16", value="1")
    br

    h3 Style
    input(type="radio", name="styleRadio", value="circles", checked="checked")
    label Circles
    br

    input(type="radio", name="styleRadio", value="hbars")
    label Horizontal Bars
    br

    input(type="radio", name="styleRadio", value="vbars")
    label Vertical Bars
    br

    input(type="radio", name="styleRadio", value="rays")
    label Rays

  p: a(href='/projects') Back to all projects